# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
ENV/
env/
.venv/

# Playwright downloads and cache
playwright/.cache/
playwright/.downloads/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/

# Log files
*.log

# Environment variables
.env
.env.*

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# MyPy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/ 